body {
  margin: 0;
  background: #171716;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 33px);
  width: 100vw;
  font-family: "cutive";
}

#titleCard {
  color: whitesmoke;
  font-weight: 500;
  margin-bottom: -15px;
  font-size: 14px;
  font-weight: 600;
}

#menu {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

h2 {
  color: rgb(192, 192, 192);
  margin: 0px;
  margin-bottom: 55px;
  font-style: italic;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: 0.2rem;
}

button {
  background: #2d2d2d;
  border: none;
  color: whitesmoke;
  font-family: 'cutive';
  font-size: 1.1rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.4s, color 0.4s;
}

button:hover {
  background: whitesmoke;
  color: #161615;
}



#radioDoom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin-right: 5px;
  margin-top: -5px;
}

#radioDoom > label {
    color: whitesmoke;
}

input[type='checkbox'] {
  box-sizing: border-box;
  appearance: none;
  background: whitesmoke;
  outline: 1px solid #161615;
  border: 2px solid whitesmoke;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background: #333;
}

#menu > p {
  margin: 0px;
  margin-top: -10px;
  color: rgb(173, 173, 173);
  justify-self: center;
  align-self: center;
  font-size: 0.9rem;
  font-style: italic;
}

#bold {
  font-weight: 600;
}

.shake {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}