body {
  margin: 0;
  background: #171716;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 33px);
    width: 100vw;
}

#titleCard {
    color: whitesmoke;
}